<% if session[:user_id] == nil %>
  <h3>or</h3>
  <h2>Sign up</h2>
<% end %>
<div class='container'>
  <form action='/signup' method='post'>
    Username<input type='text' name='user[user_name]'><br>
    Password<input type='password' name='user[password]'><br>
    <input type='submit' value='sign up'>
  </form>
</div>