<% if session[:user_id] %>
  Welcome, <%= User.find(session[:user_id]).user_name %><br>
  You have <%= User.find(session[:user_id]).favorites.count %> favorite songs!<br>
  <a href='/signout'>Sign out</a>
<% end %>