Sign in to use this awesome site. Womp, Womp.<br>
<div class='container'>
  <form action='/signin' method='post'>
    Username<input type='text' name='user_name'><br>
    Password<input type='password' name='content'><br>
    <input type='submit' value='sign in'>
  </form>
</div>