Sign in to use this awesome site. Womp, Womp.<br>
<div class='container'>
  <form action='/signin' method='post'>
    Username<input type='text' name='user[user_name]'><br>
    Password<input type='password' name='user[password]'><br>
    <input type='submit' value='sign in'>
  </form>
</div>

<%= erb :'auth/_signup' %>