create a new song
<div class='container'>
  <form action='/songs/new' method='post'>
    Title<input type='text' name='title'><br>
    Lyrics<input type='text' name='content'><br>
    <input type='submit' value='create song'>
  </form>
</div>