<%= song.title %><br>
<%= song.user.user_name %><br>
<%= song.content %><br>

<% if session[:user_id] %>
  <div class='container'>
    <form action='/favorites/<%= song.id %>' method='post'>
      <input type='submit' value='favorite song'>
    </form>
  </div>
<% end %>